.stream-page {
  height: 88.5vh;
}

.stream-page h3 {
  margin: 1rem auto;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.App {
  text-align: center;
  background: #222;
  color: #fff;
}

.link {
  color: #fff;
  text-decoration: none;
}

.nav-item {
  border-bottom: 3px transparent solid;
}

.title-link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  color: #9146ff;
  text-decoration: underline;
}

.nav-item:hover {
  background-color: #333;
}

.title-link:hover {
  color: #fff;
  text-decoration: none;
}

.text-purple {
  color: #9146ff;
}
